---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Ryousukeについて";
const identity = {
	name: 'Izuchi',
	country: '日本',
	occupation: '大学生',
	hobbies: ['プログラミング', '読書', 'ゲーム'],
};
const skills = ["JavaScript", "Python", "Astro", "HTML", "CSS"];
const check = false;
// const age = 21;
const age = 19;
const skillColor = "blue";
const fontWeight = "bold";
const textCase = "uppercase"
---

<BaseLayout pageTitle={pageTitle}>
	<style define:vars={{skillColor, fontWeight, textCase}}>
		h1 {
			color: #E86B79;
			font-size: 3rem;
		}
		.skill {
			/* color: #4A90E2; */
			color: var(--skillColor);
			/* font-weight: bold; */
			font-weight: var(--fontWeight);
			text-transform: var(--textCase);
		}
	</style>
	<p>大学3年生です。初めてWebサイトを作りました。</p>
	<p>作ったものや日常の活動などについて発信していきます。</p>
	<h2>自己紹介</h2>
	<ul>
		<li>私の名前は{identity.name}です。</li>
		<li>私は{identity.country}に住んでいる{identity.occupation}です。</li>
		{
			identity.hobbies.length >= 3 &&
			<li>趣味は{identity.hobbies[0]}、{identity.hobbies[1]}、{identity.hobbies[2]}などです。</li>
		}
	</ul>
	<p>私のスキルは以下の通りです。</p>
	<ul>
		{skills.map((skill) => (
			<li class="skill">{skill}</li>
		))}
	</ul>
	{
		check && 
		<p>課題は終わりました</p>
		}
	{
		age >= 20 ?
		<p>私は成人です。</p>
		:
		<p>私は未成年です。</p>
	}
</BaseLayout>
