---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
import ContentFrame from "../components/ContentFrame.astro";
import Hero from "../components/Hero.astro";
import Button from "../components/button.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "ホーム";

const allPosts = await Astro.glob('../pages/posts/*.md');
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
const posts = sortedPosts.slice(0, 4);
---

<BaseLayout pageTitle={pageTitle}>
	<Hero slot="hero" />
	<ContentFrame chapterTitle="Works" rubi="作品">
		<div slot="chapter-content" class="chapter-box">
			<div class="chapter-content">
				<h2>サブタイトル</h2>
				<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
			</div>
			<Button buttonName="View All" link="/work"/>
		</div>
		
	</ContentFrame>
	<ContentFrame chapterTitle="About" rubi="私について">
		<div slot="chapter-content" class="chapter-box">
			<div class="chapter-content">
				<h2>サブタイトル</h2>
				<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
			</div>
			<Button buttonName="View More" link="/about"/>
		</div>
	</ContentFrame>	
	<ContentFrame chapterTitle="News" rubi="ニュース">
		<div slot="chapter-content" class="chapter-box">
			<div class="chapter-content">
				<h2>サブタイトル</h2>
				<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
			</div>
			<Button buttonName="View All" link="/news"/>
		</div>
	</ContentFrame>
	<ContentFrame chapterTitle="Blog" rubi="ブログ">
		<div slot="chapter-content" class="chapter-box">
			<div class="chapter-content">
				<ul class="blog-list">
					{posts.map((post) => <BlogPost postDate={post.frontmatter.pubDate} img_url={post.frontmatter.image.url} title={post.frontmatter.title} url={post.url} />)}
				</ul>
			</div>
			
			<Button buttonName="View All" link="/blog"/>
		</div>
	</ContentFrame>
</BaseLayout>

<style>

</style>