---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const formattedDate = new Date(frontmatter.pubDate)
    .toLocaleDateString("ja-JP", {
        year: "numeric",
        month: "2-digit",
        day: "2-digit",
    })
    .replace(/\//g, ".");
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="news-container">
        <div class="news-top">
            <p class="post-date">{formattedDate}</p>
            <h1 class="post-title">{frontmatter.title}</h1>
            <!-- <p class="description">{frontmatter.description}</p> -->
        </div>
        <article>
            <slot />
        </article>
    </div>
    <!-- 
    <div class="tags">{
        frontmatter.tags.map((tag) => (
            <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
    </div>
    <slot /> -->
</BaseLayout>
<style>
    .post-date {
        margin: 0;
        font-weight: 500;
        color: #707070;
    }
    .post-title {
        color: #707070; 
        margin: 5vh 0 8vh 0;
    }

    .news-container {
        display: flex;
        flex-direction: column;
        padding: 7vh 5vw;
    }

    .description {
        margin: 0;
    }
    
    a {
        color: #00539f;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25rem;
        border: dotted 1px #a1a1a1;
        border-radius: .5rem;
        padding: .5rem 1rem;
        font-size: 1.15rem;
        background-color: #f8fcfd;
    }
</style>